<h2>Options</h2>

<div class="my-8 flex flex-col gap-8">
  <a [routerLink]="['input-decorator-props']">
    <span class="block font-strong">&#64;Input() Properties</span>
    <span class="block">How to make input properties required, transformed, and aliased</span>
  </a>
  <a [routerLink]="['why-transformations-rock']">
    <span class="block font-strong">Why Transformations Rock</span>
    <span class="block">Another look into how to use &#64;Input() transformations.</span>
  </a>
  <a [routerLink]="['signal-input']">
    <span class="block font-strong">Signal Input</span>
    <span class="block">A look at how we can use Signals for component inputs.</span>
  </a>
</div>