<h2>&#64;Input() Props</h2>
<hallpass-title-heading 
  pageTitle="Input Decorator Properties"
  elevation="3"
  [section]="2"
  class="mt-4"/>

<p>
  This page uses two (2) components: <code>ListItem</code> and <code>TitleHeading</code> to 
  demonstrate the use of the <code>&#64;Input()</code> properties in Angular.
</p>

<hallpass-title-heading 
  pageTitle="Using `required`, `alias`, `transform` and `default`"
  section="secondary"
  class="mt-8"/>
<div class="mb-8">
  <h4 class="text-slate-600 font-bold">People</h4>
  <div class="flex flex-col gap-6">
    @for (item of people; track $index) {
      <hallpass-list-item
        [name]="item.name"
        [username]="item.username"
        [color]="item.favorite.color"
        [food]="item.favorite.food"
        [friends]="item.friends"
        [likes]="item.likes"
        [awesome]="item.awesome"/>
    }
  </div>
</div>