<h2>Signal Inputs</h2>

<div class="my-8">
  <h3 class="text-xl font-bold">Star Wars People</h3>

  @if( selectedFilm()) {
    <div class="flex gap-4">
      <span class="font-bold">{{selectedFilm()}}</span>
      <button (click)="resetSelectedFilm()" class="text-sm bg-slate-200 rounded-md px-2">Clear</button>
    </div>
  }
  @for (person of filteredPeople(); track $index) {
    <div class="my-4">
      <hallpass-starwars-person [person]="person" (selectFilm)="handleSelectFilm($event)" />
    </div>
  }
</div>